<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetPals</title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/PetPals.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/layout.css" />

</head>

<body>
    <partial name="_NotificationsPartial" />
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <img src="~/logo.png" alt="PetPals Logo">
            </a>
        </div>
        <div class="nav-links">
            <a href="#">Home</a>
            <a asp-controller="Pet" asp-action="All">Our Pets</a>
            <a href="#">Donate</a>
            <a href="#">Volunteer</a>
        </div>
        <div class="nav-icons">
            <a asp-controller="Wishlist" asp-action="Index"><i class="fas fa-heart"></i></a>
            <partial name="_LoginPartial" />

        </div>
    </nav>

    <!-- Main container -->
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
